<a href="https://colab.research.google.com/github/felippedamasopy/Web-Scraping/blob/main/Simple_Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
html = pd.read_html(html_file)

In [2]:
# there are 3 lists you acess the lists in this format html[0], html[1], html[3]
html

[                  Date      Reserve balances required  \
                   Date Reserve balance requirements 1
 0              Month 7                        Month 7
 1            Aug. 2019                         134639
 2           Sept. 2019                         134707
 3            Oct. 2019                         134998
 4            Nov. 2019                         140705
 5            Dec. 2019                         138984
 6            Jan. 2020                         144816
 7            Feb. 2020                         138370
 8            Mar. 2020                         113139
 9            Apr. 2020                              0
 10            May 2020                              0
 11           June 2020                              0
 12           July 2020                              0
 13           Aug. 2020                              0
 14                 NaN                            NaN
 15  Two weeks ending 8             Two weeks ending 8
 16       July 15, 2020                              0
 17       July 29, 2020                              0
 18       Aug. 12, 2020                              0
 19       Aug. 26, 2020                              0
 20       Sept. 9, 2020                              0

                                                                \
    Top of penalty- free band 2 Bottom of penalty- free band 3
 0                      Month 7                        Month 7
 1                       148114                         121167
 2                       148188                         121227
 3                       148509                         121489
 4                       154787                         126625
 5                       152893                         125076
 6                       159309                         130326
 7                       152218                         124524
 8                       124461                         101817
 9                            0                              0
 10                           0                              0
 11                           0                              0
 12                           0                              0
 13                           0                              0
 14                         NaN                            NaN
 15          Two weeks ending 8             Two weeks ending 8
 16                           0                              0
 17                           0                              0
 18                           0                              0
 19                           0                              0
 20                           0                              0

    Reserve balances maintained 4  \
                            Total
 0                        Month 7
 1                        1520876
 2                        1439771
 3                        1481513
 4                        1529341
 5                        1630090
 6                        1645384
 7                        1656989
 8                        2045148
 9                        2953586
 10                       3217635
 11                       3043556
 12                       2718529
 13                       2799719
 14                           NaN
 15            Two weeks ending 8
 16                       2795785
 17                       2623526
 18                       2751124
 19                       2821740
 20                       2854690

                                                                   \
    Balances maintained to satisfy reserve balance requirements 5
 0                                             Month 7
 1                                              147555
 2                                              147498
 3                                              148050
 4                                              154256
 5                                              152562
 6                                              158765
 7                                              151612
 8                                              124147
 9                                                   0
 10                                                  0
 11                                                  0
 12                                                  0
 13                                                  0
 14                                                NaN
 15                                 Two weeks ending 8
 16                                                  0
 17                                                  0
 18                                                  0
 19                                                  0
 20                                                  0


    Balances maintained that exceed the top of the penalty- free band 6
 0                                             Month 7
 1                                             1373321
 2                                             1292273
 3                                             1333462
 4                                             1375085
 5                                             1477528
 6                                             1486619
 7                                             1505377
 8                                             1921000
 9                                             2953586
 10                                            3217635
 11                                            3043556
 12                                            2718529
 13                                            2799719
 14                                                NaN
 15                                 Two weeks ending 8
 16                                            2795785
 17                                            2623526
 18                                            2751124
 19                                            2821740
 20                                            2854690                   ,
                   Date            Reserves                      \
                   Date             Total 1            Required
 0              Month 7             Month 7             Month 7
 1            Aug. 2019             1586844              200608
 2           Sept. 2019             1504805              199741
 3            Oct. 2019             1547136              200621
 4            Nov. 2019             1595222              206586
 5            Dec. 2019             1698344              207239
 6            Jan. 2020             1715219              214652
 7            Feb. 2020             1726943              208324
 8            Mar. 2020             2099369              167360
 9            Apr. 2020             2953586                   0
 10            May 2020             3217635                   0
 11           June 2020             3043556                   0
 12           July 2020             2718529                   0
 13           Aug. 2020             2799719                   0
 14                 NaN                 NaN                 NaN
 15  Two weeks ending 8  Two weeks ending 8  Two weeks ending 8
 16       July 15, 2020             2795785                   0
 17       July 29, 2020             2623526                   0
 18       Aug. 12, 2020             2751124                   0
 19       Aug. 26, 2020             2821740                   0
 20       Sept. 9, 2020             2854690                   0

           Vault cash 2                                      \
                  Total Used to satisfy required reserves 3
 0              Month 7                             Month 7
 1                78451                               65969
 2                76550                               65035
 3                76660                               65623
 4                76921                               65881
 5                80168                               68255
 6                81216                               69835
 7                80735                               69954
 8                77114                               54222
 9                88104                                   0
 10              101345                                   0
 11              104201                                   0
 12               98392                                   0
 13               95327                                   0
 14                 NaN                                 NaN
 15  Two weeks ending 8                  Two weeks ending 8
 16               99459                                   0
 17               97225                                   0
 18               95638                                   0
 19               95066                                   0
 20               95313                                   0

                              Monetary base                              \
              Surplus 4             Total 5 Total balances maintained 6
 0              Month 7             Month 7                     Month 7
 1                12483             3271378                     1520876
 2                11516             3202668                     1439771
 3                11037             3252807                     1481513
 4                11040             3315551                     1529341
 5                11914             3426464                     1630090
 6                11381             3442569                     1645384
 7                10781             3454474                     1656989
 8                22892             3883155                     2045148
 9                88104             4844940                     2953586
 10              101345             5149527                     3217635
 11              104201             5001978                     3043556
 12               98392             4700365                     2718529
 13               95327             4807394                     2799719
 14                 NaN                 NaN                         NaN
 15  Two weeks ending 8  Two weeks ending 8          Two weeks ending 8
 16               99459             4772522                     2795785
 17               97225             4609143                     2623526
 18               95638             4750981                     2751124
 19               95066             4830999                     2821740
 20               95313             4876690                     2854690


    Currency in circulation
 0                  Month 7
 1                  1750502
 2                  1762898
 3                  1771294
 4                  1786209
 5                  1796375
 6                  1797185
 7                  1797485
 8                  1838007
 9                  1891355
 10                 1931891
 11                 1958422
 12                 1981836
 13                 2007675
 14                     NaN
 15      Two weeks ending 8
 16                 1976737
 17                 1985617
 18                 1999857
 19                 2009260
 20                 2022000  ,
                   Date Borrowings from the Federal Reserve  \
                   Date                               Total
 0              Month 3                             Month 3
 1            Aug. 2019                                 117
 2           Sept. 2019                                 101
 3            Oct. 2019                                  63
 4            Nov. 2019                                  26
 5            Dec. 2019                                  21
 6            Jan. 2020                                   6
 7            Feb. 2020                                   3
 8            Mar. 2020                               40554
 9            Apr. 2020                              124461
 10            May 2020                              111845
 11           June 2020                               97671
 12           July 2020                               92943
 13           Aug. 2020                               83126
 14                 NaN                                 NaN
 15  Two weeks ending 4                  Two weeks ending 4
 16       July 15, 2020                               94326
 17       July 29, 2020                               92428
 18       Aug. 12, 2020                               85636
 19       Aug. 26, 2020                               82030
 20       Sept. 9, 2020                               80170

                                                                 \
                Primary           Secondary            Seasonal
 0              Month 3             Month 3             Month 3
 1                   16                   0                 101
 2                   15                   0                  86
 3                    4                   0                  59
 4                    4                   0                  22
 5                   10                   0                  11
 6                    5                   0                   1
 7                    3                   0                   0
 8                19538                   0                   0
 9                38299                   0                   0
 10               22180                   0                   2
 11                8456                   0                  11
 12                4670                   0                  26
 13                2851                   0                  38
 14                 NaN                 NaN                 NaN
 15  Two weeks ending 4  Two weeks ending 4  Two weeks ending 4
 16                5055                   0                  21
 17                4376                   0                  31
 18                3111                   0                  37
 19                2651                   0                  41
 20                2786                   0                  34

                              Nonborrowed reserves 2
    Other credit extensions 1 Nonborrowed reserves 2
 0                    Month 3                Month 3
 1                          0                1586727
 2                          0                1504704
 3                          0                1547073
 4                          0                1595196
 5                          0                1698323
 6                          0                1715213
 7                          0                1726939
 8                      21015                2058816
 9                      86162                2829125
 10                     89663                3105791
 11                     89204                2945885
 12                     88248                2625585
 13                     80237                2716593
 14                       NaN                    NaN
 15        Two weeks ending 4     Two weeks ending 4
 16                     89251                2701459
 17                     88021                2531099
 18                     82488                2665489
 19                     79339                2739710
 20                     77350                2774520  ]

In [10]:
html[0].head(1)

      Date      Reserve balances required                              \
      Date Reserve balance requirements 1 Top of penalty- free band 2
0  Month 7                        Month 7                     Month 7

                                 Reserve balances maintained 4  \
  Bottom of penalty- free band 3                         Total
0                        Month 7                       Month 7

                                                                 \
  Balances maintained to satisfy reserve balance requirements 5
0                                            Month 7


  Balances maintained that exceed the top of the penalty- free band 6
0                                            Month 7

In [9]:
html[1].head(1)

      Date Reserves          Vault cash 2                                      \
      Date  Total 1 Required        Total Used to satisfy required reserves 3
0  Month 7  Month 7  Month 7      Month 7                             Month 7

            Monetary base
  Surplus 4       Total 5 Total balances maintained 6 Currency in circulation
0   Month 7       Month 7                     Month 7                 Month 7

In [8]:
html[2].head(1)

      Date Borrowings from the Federal Reserve                              \
      Date                               Total  Primary Secondary Seasonal
0  Month 3                             Month 3  Month 3   Month 3  Month 3

                            Nonborrowed reserves 2
  Other credit extensions 1 Nonborrowed reserves 2
0                   Month 3                Month 3